.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.5rem; 
	background-color:#091c3a;
	padding: 1rem;
	background: transparent;  
  
   input[type="text"], input[type="email"], textarea {
        color: #64748b;
				background-color: #091c3a;
				border: none;
				outline: none;
				padding: 0.75rem 0.5rem;
				font-size: 1rem;
				font-family: inherit;
				border-radius: 0.5rem;
				box-shadow: 0 10px 15px -3px var(--shadow);
				min-width: 300px;
			}       
	 textarea {
				resize: vertical;
				min-height: 100px;
				margin-bottom: 1rem;
		}
}

h1 {
		text-align: center;
		margin-bottom: 1rem;
}


main {
	flex: 1;
}