

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1526401281623-342c2a4a0c11?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
}


.login-card {
    width: 360px;
    padding: 32px;
    background-color: #2b2b2b; /* gris oscuro */
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
}


.login-card h2 {
    margin: 0 0 24px;
    text-align: center;
    font-weight: 600;
}


.form-group {
    margin-bottom: 16px;    
}


.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.9rem;
    color: #cfcfcf;
}


.form-group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 0.95rem;
}


.form-group input::placeholder {
    color: #9a9a9a;
}


.login-button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
}