.ProfileContainer {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #2b2b2b, #06182a);
    background-size: cover;
}


.ProfileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.ProfileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    padding: 32px;
    background-color: #2b2b2b; /* gris oscuro */
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
}